section.search-results {
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  p {
    color: #9B9B9B;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .no-results-wrapper {
    opacity: 0.6;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
      width: 26ch;
    }

    img {
      object-fit: contain;
      height: 6rem;
      margin: 1rem;
      opacity: 0.3;
    }
  }
}
