@import '../../../colors';

:host {
  width: 100vw;

}

.search-wrapper {
  padding: 1rem;
  padding-bottom: unset;

  .search-bar {
    display: flex;
    font-size: 1.2rem;
    position: relative;
    width: 100%;
  }

  input {
    color: rgb(175, 175, 175);
    flex: 1 1 auto;
    min-width: 0;
    font-size: inherit;
    padding: 1rem;
    border: unset;
    border-radius: 4px 0 0 4px;
    transition: background .2s ease;

    &:focus {
      background: $lightgrey;
    }

    &::-webkit-input-placeholder {
      color: rgb(175, 175, 175);

    }
  }

  button {
    font-size: inherit;
    background-color: $yellow;
    padding: 1rem 2rem;
    border-radius: 0 4px 4px 0;

    &:active {
      filter: saturate(120%);
    }

    span {

      &:before {
        font-size: clamp(20%, 2rem, 180%);
        color: white;
      }

    }

  }

  @media (max-width:960px) {
    font-size: 1rem;
  }

}

.matches-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: absolute;
  top: 100%;
  background: white;
  max-height: 50vh;
  overflow-y: auto;
  border-top: 2px solid rgba(128, 128, 128, 0.1);
  margin-top: -2px;
  border-radius: 0 0 4px 4px;
  opacity: 0;
  transition: opacity .2s ease, transform .3s ease;
  visibility: hidden;
  transform: translateY(-5px);


  &.visible {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
  }

  button {
    color: rgb(175, 175, 175);
    border-radius: unset;
    font-weight: bold;
    padding: 1rem;
    text-align: left;
    background: unset;
    width: 100%;

    &:hover {
      background-color: #cfcfcf3b;
    }
  }

}
