@import '../../../colors';

:host {
  width: 100vw;
}

.search-wrapper {
  display: flex;
  font-size: 1.2rem;
  padding: 1rem;
  box-sizing: border-box;

  input {
    color: rgb(175, 175, 175);
    flex: 1 1 auto;
    min-width: 0;
    font-size: inherit;
    padding: 1rem;
    border: unset;
    border-radius: 4px 0 0 4px;
    transition: background .2s ease;

    &:focus {
      background: $lightgrey;
    }

    &::-webkit-input-placeholder {
      color: rgb(175, 175, 175);

    }
  }

  button {
    font-size: inherit;
    background-color: $yellow;
    padding: 1rem 2rem;
    border-radius: 0 4px 4px 0;

    &:active {
      filter: saturate(120%);
    }

    span {

      &:before {
        font-size: clamp(20%, 2rem, 180%);
        color: white;
      }

    }

  }

  @media (max-width:960px) {
    font-size: 1rem;
  }


}
