/* -------------------------------------------------------------------------- */
/*                         application color variables                        */
/* -------------------------------------------------------------------------- */
$yellow:#FCDB67;
$lightgrey:#FAFAFA;
$purple:#B79BE8;
$grey_text:#666666;
